In [2]:
import pandas as pd
import plotly as pl

In [7]:
class Transfrom:
    def __init__(self, path) -> None:
        self.path = path
    def read_excel(self):
        df = pd.read_excel(self.path)
        return df

In [10]:
transfrom1 = Transfrom('urban_rural.xlsx')
transfrom1.read_excel()

     Рік   Всього   Міське  Сільське
0   1990  51838.5  34869.2   16969.3
1   1991  51944.4  35085.2   16859.2
2   1992  52056.6  35296.9   16759.7
3   1993  52244.1  35471.0   16773.1
4   1994  52114.4  35400.7   16713.7
5   1995  51728.4  35118.8   16609.6
6   1996  51297.1  34767.9   16529.2
7   1997  50818.4  34387.5   16430.9
8   1998  50370.8  34048.2   16322.6
9   1999  49918.1  33702.1   16216.0
10  2000  49429.8  33338.6   16091.2
11  2001  48923.2  32951.7   15971.5
12  2002  48457.1  32574.4   15882.7
13  2003  48003.5  32328.4   15675.1
14  2004  47622.4  32146.4   15476.0
15  2005  47280.8  32009.3   15271.5
16  2006  46929.5  31877.7   15051.8
17  2007  46646.0  31777.4   14868.6
18  2008  46372.7  31668.8   14703.9
19  2009  46143.7  31587.2   14556.5
20  2010  45962.9  31524.8   14438.1
21  2011  45778.5  31441.6   14336.9
22  2012  45633.6  31380.9   14252.7
23  2013  45553.0  31378.6   14174.4
24  2014  45426.2  31336.6   14089.6
25  2015  42929.3  29673.1   13256.2
26  2016  42760.5  29585.0   13175.5
27  2017  42584.5  29482.3   13102.2
28  2018  42386.4  29371.0   13015.4
29  2019  42153.2  29256.7   12896.5
30  2020  41902.4  29139.3   12763.1
31  2021  41588.4  28959.6   12628.8
32  2022  41167.3  28693.7   12473.6